/* ----------------- */
/* --RESET STYLES--- */
/* ----------------- */
@import url("reset.css");
@import url("fonts.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* ====================== ШРИФТИ =============================== */
body{
	padding: 5%;
}
div{
	margin: 20px 0;
}
h1,h2{
	margin-bottom: 10px;
}
p{
	margin-bottom: 20px;
}
h1{
	font-family: "Dancing Script";
	color: darkslateblue;
	font-size: 50px;
	text-align: center;
	text-decoration: overline;
}
header p{
	text-align: center;
	text-transform: uppercase;
	color: darkblue;
}
h2{
	font-family: "Roboto Serif";
	color: yellowgreen;
	font-size: 24px;
	font-style: oblique;
	font-weight: bold;
	text-align: right;
}
p{
	font-family: "DukeCharming";
	font-size: 20px;
}
footer h2{
	text-decoration: underline;
	font-size: 30px;
	text-transform: capitalize;
}
footer p{
	color: fuchsia;
	line-height: 2;
	text-align: justify;
	word-spacing: 10px;
}
.text1 p{
	color: burlywood;
	text-shadow: -2px -2px 2px olive;
	line-height: 1.7;
}
.text2 p{
	text-indent: 20px;
	color: maroon;
}
.text2 p:first-child{
	letter-spacing: 10px;
}


