@import url("reset.css");
h1, #acteur h3{
	color: #acdf47;
}
h2{
	color: #DCD9AB;
}
#synop h3{
	color: #E49F82;
}
span{
	color: aquamarine;
}
ul li{
	color: #e452e4;
}
#synop  p{
	color: rgb(110, 138, 207);
}
