@import url("reset.css");

@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color:#495057;

    
}
.wrapper{
    overflow: clip;
	min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > main{
    flex-grow: 1;
}
[class*="__container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding:  15px;
}
.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
    
}
.article__row {
    display: flex;
    justify-content: space-between;
    gap: 30px ;
    

}
.article__item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    flex-grow: 0;
}

.photo__button{
    background: rgba(33, 37, 41, 0.3);
    border-radius: 3px;
    color:  #F8F9FA;
    padding: 12px;
    position: absolute;
    right: 30px;
    top: 30px;
}
.photo_img{
    height: 250px;
    position: relative;


}
.photo {
    position: relative;
}

.article__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #212529;
}
.article__sub-title {
    padding-bottom: 15px;
    border-bottom: 1px solid #E5E5E5;;
}

.article__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 2.08;
    color: #F8F9FA;
    padding: 15px 50px;
    background: #212529;
    border-radius: 3px;
}